* {
  font-family: var(--font-family);
}

:root {
  --font-big: 40px;
  --font-medium: 25px;
  --font-small: 18px;
  --font-family: Arial, Helvetica, sans-serif;
}

[data-theme="dark"] {
  --darkest-col: rgb(31, 31, 31);
  --btn-col: rgb(32, 46, 32);
  --background-col: rgb(130, 137, 121);
  --light-grey: rgb(217, 217, 217);
  --lightest-col: rgb(255, 255, 255);
}

[data-theme="light"] {
  --darkest-col: rgb(83, 102, 125);
  --btn-col: rgb(107, 184, 105);
  --background-col: rgb(231, 255, 232);
  --light-grey: rgb(255, 255, 255);
  --lightest-col: rgb(255, 255, 255);
}

[data-theme="red"] {
  --darkest-col: rgb(52, 9, 9);
  --btn-col: rgb(162, 60, 60);
  --background-col: rgb(255, 158, 158);
  --light-grey: rgb(255, 255, 255);
  --lightest-col: rgb(255, 255, 255);
}

[data-theme="yellow"] {
  --darkest-col: rgb(39, 37, 24);
  --btn-col: rgb(190, 186, 91);
  --background-col: rgb(255, 242, 195);
  --light-grey: rgb(255, 255, 255);
  --lightest-col: rgb(255, 255, 255);
}

[data-theme="green"] {
  --darkest-col: rgb(22, 38, 20);
  --btn-col: rgb(53, 85, 48);
  --background-col: rgb(163, 191, 166);
  --light-grey: rgb(255, 255, 255);
  --lightest-col: rgb(255, 255, 255);
}

[data-theme="blue"] {
  --darkest-col: rgb(0, 55, 67);
  --btn-col: rgb(0, 164, 187);
  --background-col: rgb(201, 229, 255);
  --light-grey: rgb(255, 255, 255);
  --lightest-col: rgb(255, 255, 255);
}

[data-theme="purple"] {
  --darkest-col: rgb(38, 15, 48);
  --btn-col: rgb(110, 41, 165);
  --background-col: rgb(214, 182, 255);
  --light-grey: rgb(255, 255, 255);
  --lightest-col: rgb(255, 255, 255);
}

/* basic tags */

h1 {
  font-size: var(--font-big);
  color: var(--darkest-col);
}

h2 {
  font-size: var(--font-medium);
  color: var(--darkest-col);
}

p {
  font-size: var(--font-small);
  color: var(--darkest-col);
}

label {
  font-size: var(--font-medium);
  color: var(--darkest-col);
}

.grid_left label {
  color: var(--lightest-col);
}

input {
  font-size: var(--font-small);
  color: var(--darkest-col);
  background-color: var(--background-col);
  border: none;
}

::placeholder {
  color: var(--darkest-col);
  opacity: 50%;
}

select {
  font-size: var(--font-small);
  color: var(--darkest-col);
  background-color: var(--background-col);
}

/* grid style */

.grid_left {
  background-color: var(--darkest-col);
}

.grid_right {
  background-color: var(--background-col);
}

/* pop up */

.pop_up {
  background-color: var(--lightest-col);
}

/* opgave list item style */

article {
  background-color: var(--light-grey);
}

/* knapper */

.grid_left_btn {
  font-size: var(--font-medium);
  color: var(--lightest-col);
  background-color: var(--btn-col);
  border: none;
}

.grid_left_btn:hover {
  color: var(--darkest-col);
  background-color: var(--background-col);
}

.grid_right_btn {
  font-size: var(--font-small);
  color: var(--lightest-col);
  background-color: var(--btn-col);
  border: none;
}

.grid_right_btn:hover {
  color: var(--darkest-col);
  background-color: var(--background-col);
}

/* exit icon */

.exit {
  align-self: end;
  display: flex;
  flex-direction: column;
  height: 30px;
  width: 30px;
  justify-content: center;
  cursor: pointer;
}

.line1,
.line2 {
  height: 4px;
  width: 35px;
  background-color: var(--darkest-col);
  border-radius: 10px;
}

.line1 {
  transform: translateY(2px) rotate(45deg);
}

.line2 {
  transform: translateY(-2px) rotate(-45deg);
}

/* check mark style */

input[type="checkbox"] {
  cursor: pointer;
}
